<footer class="footer">
	<div class="container">
		<div class="footer__row">
			<div class="footer__column footer__column_big footer-column">
				<div class="footer__logo">
					<svg><use xlink:href="./img/sprite.svg#logo"></use></svg>
				</div>
				<p>
					@Alita_recruter_bot создала компания ООО IT Marketing, работающая на
					рынке IT-решений с 2008 года. За 13 лет работы на рынке IT-услуг
					компания выполнила более 150 проектов.
				</p>
			</div>
			<div class="footer__column footer-column footer__column_medium">
				<div class="footer-column__title">Alita</div>
				<ul>
					<li><a href="">Alita Recruiter Bot </a></li>
					<li><a href="">Alita блог </a></li>
					<li><a href="">Отзывы (кейсы) </a></li>
					<li><a href="">Кому я буду полезна</a></li>
				</ul>
			</div>
			<div class="footer__column footer-column">
				<div class="footer-column__title">Помощь</div>
				<ul>
					<li><a href="">Инструкции</a></li>
					<li><a href="">Вопрос-ответ</a></li>
				</ul>
			</div>
			<div class="footer__column footer-column">
				<div class="footer-column__title">Сообщество</div>
				<ul>
					<li><a href="">Сообщество</a></li>
				</ul>
			</div>
			<div class="footer__column footer-column">
				<div class="footer-column__title">Проект</div>
				<ul>
					<li><a href="">Контакты</a></li>
					<li><a href="">Инвесторам</a></li>
					<li><a href="">Договор-оферта</a></li>
				</ul>
				<ul class="lang">
					<li class="lang__item lang__item_active"><a href="">Ru</a></li>
					<li class="lang__item"><a href="">Ua</a></li>
				</ul>
			</div>
		</div>
		<div class="footer__copyright">
			<p>Copyright © 2021 Alita Recruter Bot</p>
		</div>
	</div>
</footer>

<script src="./js/app.min.js"></script>
<!-- </body>
</html> -->
