<header class="header header_white">
	<div class="header__container container">
		<div class="header__nav">
			<a href="" class="header__logo">
				<svg><use xlink:href="./img/sprite.svg#logo"></use></svg>
			</a>
			<ul class="header__menu header-menu">
				<li class="header-menu__item"><a href="#">О Alita</a></li>
				<li class="header-menu__item"><a href="#">Отзывы</a></li>
				<li class="header-menu__item"><a href="#best-price">Стоимость</a></li>
				<li class="header-menu__item"><a href="#">Новости</a></li>
			</ul>
		</div>
		<a
			href="/"
			class="header__registration_white btn__primary btn__blue-border btn__size_1"
		>
			Регистрация
		</a>
	</div>
</header>
