<header class="header">
	<div class="header__container container">
		<div class="header__mobile-btn">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<div class="header__nav">
			<button class="header__mobile-btn-close">
				<svg><use href="./img/sprite.svg#cross"></use></svg>
			</button>
			<a href="" class="header__logo">
				<svg><use xlink:href="./img/sprite.svg#logo"></use></svg>
			</a>
			<ul class="header__menu header-menu">
				<li class="header-menu__item"><a href="/">О Alita</a></li>
				<li class="header-menu__item"><a href="/">Отзывы</a></li>
				<li class="header-menu__item"><a href="#best-price">Стоимость</a></li>
				<li class="header-menu__item"><a href="/">Новости</a></li>
			</ul>
		</div>
		<a
			href="/"
			class="header__registration btn__primary btn__blue-border btn__size_1"
		>
			Регистрация
		</a>
	</div>
</header>
